[include mainsail.cfg]
[include timelapse.cfg]
[include chamber_hot.cfg] # Enabled after installing chamber module
[include sovol_eddy.cfg] # For eddy probe specific config
[include macros.cfg]
  
[mcu] 
canbus_uuid: 07602842078e

[mcu extruder_mcu]
canbus_uuid: 916cc8e24db7

[lis2dw]
cs_pin: extruder_mcu:PB12
spi_software_sclk_pin: extruder_mcu:PB13
spi_software_mosi_pin: extruder_mcu:PB15
spi_software_miso_pin: extruder_mcu:PB14
axes_map: x,z,y

[exclude_object]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 1.0

[resonance_tester]
accel_chip: lis2dw
probe_points:
    76, 76, 30  
accel_per_hz: 100
min_freq: 35
max_freq: 45
max_smoothing: 0.25
hz_per_sec: 1.0

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extruder_mcu

[printer]
kinematics: corexy
max_velocity: 1200           
max_accel: 20000             
minimum_cruise_ratio: 0.5    
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0  

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
            
[stepper_x]   
step_pin: PE1
dir_pin: !PD7
enable_pin: !PD5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^extruder_mcu:PA10
position_min: -10
position_endstop: -10
position_max: 155
homing_speed: 90
homing_retract_dist: 2

[tmc5160 stepper_x]
cs_pin: PE0
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.5
sense_resistor: 0.05

[stepper_y]  
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PD1
position_min: -2
position_endstop: 152.5
position_max: 152.5
homing_speed: 90
homing_retract_dist: 2

[tmc5160 stepper_y]
cs_pin: PD4
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.5
sense_resistor: 0.05 

[stepper_z] 
step_pin:PA5
dir_pin: !PA4   
enable_pin:!PA7
rotation_distance: 4             
microsteps: 16 
endstop_pin: probe:z_virtual_endstop  
position_max: 155
position_min: -5
homing_speed: 10.0
homing_retract_dist: 3.0
homing_retract_speed: 5.0
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PA6
interpolate: true             
run_current: 1.5                  
sense_resistor: 0.150          
uart_address:3

[adc_temperature my_thermistor_e]
temperature1:25
resistance1:1268.60
temperature2:180
resistance2:1920.98
temperature3:300
resistance3:2398.52

[extruder]
step_pin: extruder_mcu:PA8   
dir_pin: extruder_mcu:PA9
enable_pin: !extruder_mcu: PA11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
max_extrude_cross_section: 60
heater_pin: extruder_mcu:PB7 
sensor_type: my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extruder_mcu:PA5  
min_temp: 0   
max_temp: 355                
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 34.838
#pid_ki : 4.976
#pid_kd : 62.823
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.025   

[tmc2209 extruder]
uart_pin: extruder_mcu:PA12
interpolate: True             
run_current: 0.8                       
uart_address: 3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:20           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: PB2
runout_gcode:
    M117 Out of Filament

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5762.6

[heater_bed]
heater_pin: PD12
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: -0            
max_temp: 125             
#control : pid
#pid_kp : 53.071
#pid_ki : 1.792
#pid_kd : 442.428

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:20           
hysteresis: 5                
heating_gain: 2 

[fan_generic fan0] # fan
pin: extruder_mcu:PB0
max_power: 1.0
cycle_time: 0.015

[fan_generic fan2] # auxiliary fan
pin: PE11
max_power: 1.0
cycle_time: 0.015

[fan_generic fan3]
pin: PE14
max_power: 1.0
cycle_time: 0.015

[temperature_fan exhaust_fan]  
pin: PB0                      
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
max_power: 0.8                  
shutdown_speed: 0   
kick_start_time: 0.5
cycle_time: 0.01
off_below: 0.1
min_temp: 0                     
max_temp: 80                 
target_temp: 32 
max_delta: 1.0
control: watermark
gcode_id: D
tachometer_pin: PB1
tachometer_ppr: 1
tachometer_poll_interval: 0.0046

[heater_fan hotend_fan]      
pin: extruder_mcu:PA6   
max_power: 1.0      
cycle_time: 0.015         
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin: extruder_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]                    
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel Screen_Colour]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 1.0             
initial_GREEN: 1.0         
initial_BLUE: 1.0                     

[output_pin main_led]
pin:PD13
value:1

[idle_timeout]
gcode:
  {% if printer.pause_resume.is_paused %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=True
    {action_respond_info("Idle Timeout: Extruder powered down")}
    M104 S0   ; Set Hot-end to 0C (off)
  {% else %}
    {action_respond_info("Idle Timeout: Stepper and Heater powered down")}
    TURN_OFF_HEATERS
    M84
  {% endif %}
timeout: 1800

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current my_eddy_probe]
#*# calibrate =
#*# 	0.050000:5341845.252,0.090000:5339753.451,0.130000:5337761.536,
#*# 	0.170000:5335796.471,0.210000:5333878.005,0.250000:5332037.294,
#*# 	0.290000:5330281.141,0.330000:5328504.968,0.370000:5326833.344,
#*# 	0.410000:5325170.710,0.450000:5323581.026,0.490000:5322002.435,
#*# 	0.530000:5320473.290,0.570000:5319001.393,0.610000:5317563.343,
#*# 	0.650000:5316142.631,0.690000:5314789.045,0.730000:5313452.861,
#*# 	0.770000:5312171.109,0.810000:5310887.561,0.850000:5309700.337,
#*# 	0.890000:5308471.262,0.930000:5307281.656,0.970000:5306103.980,
#*# 	1.010000:5304972.146,1.050000:5303844.953,1.090000:5302818.010,
#*# 	1.130000:5301742.115,1.170000:5300748.474,1.210000:5299714.737,
#*# 	1.250000:5298725.631,1.290000:5297760.529,1.330000:5296837.756,
#*# 	1.370000:5295908.761,1.410000:5295017.495,1.450000:5294149.511,
#*# 	1.490000:5293288.250,1.530000:5292456.801,1.570000:5291623.106,
#*# 	1.610000:5290798.452,1.650000:5290024.588,1.690000:5289246.497,
#*# 	1.730000:5288495.099,1.770000:5287750.597,1.810000:5287012.496,
#*# 	1.850000:5286323.032,1.890000:5285617.862,1.930000:5284900.396,
#*# 	1.970000:5284224.729,2.010000:5283579.905,2.050000:5282935.267,
#*# 	2.090000:5282295.578,2.130000:5281701.179,2.170000:5281065.803,
#*# 	2.210000:5280465.439,2.250000:5279894.207,2.290000:5279314.155,
#*# 	2.330000:5278745.363,2.370000:5278166.270,2.410000:5277595.296,
#*# 	2.450000:5277088.552,2.490000:5276546.388,2.530000:5276039.622,
#*# 	2.570000:5275530.138,2.610000:5275035.052,2.650000:5274546.103,
#*# 	2.690000:5274070.122,2.730000:5273583.362,2.770000:5273112.166,
#*# 	2.810000:5272662.449,2.850000:5272238.724,2.890000:5271815.936,
#*# 	2.930000:5271398.213,2.970000:5270973.645,3.010000:5270555.263,
#*# 	3.050000:5270149.233,3.090000:5269766.142,3.130000:5269361.865,
#*# 	3.170000:5268963.683,3.210000:5268570.407,3.250000:5268204.539,
#*# 	3.290000:5267858.827,3.330000:5267510.219,3.370000:5267130.082,
#*# 	3.410000:5266780.679,3.450000:5266438.386,3.490000:5266110.899,
#*# 	3.530000:5265784.750,3.570000:5265453.372,3.610000:5265133.231,
#*# 	3.650000:5264817.996,3.690000:5264519.577,3.730000:5264213.462,
#*# 	3.770000:5263903.734,3.810000:5263608.556,3.850000:5263321.681,
#*# 	3.890000:5263025.593,3.930000:5262730.186,3.970000:5262454.183,
#*# 	4.010000:5262151.372,4.050000:5261905.575
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.606
#*# pid_ki = 4.709
#*# pid_kd = 63.584
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.713
#*# pid_ki = 4.077
#*# pid_kd = 298.022
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 40.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 45.4
